<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>API Geo Chile</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="container mx-auto">
      <h1 class="text-3xl font-bold">API División Político Administrativa de Chile</h1>
      <section>
        <h2>Descripción</h2>
        <p>Esta API proporciona información sobre la división político-administrativa de Chile, incluyendo regiones, provincias y comunas.</p>
      </section>
      <section>
        <h2>Recursos</h2>
        <p>Cada consulta a la API devuelve un JSON con la información solicitada. Cada recurso tiene la siguiente estructura:</p>
        <table class="table">
            <thead>
                <tr>
                <th>Campo</th>
                <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>Código</td>
                <td>Identificador único del sector.</td>
                </tr>
                <tr>
                    <td>Tipo</td>
                    <td>Tipo de sector (región, provincia o comuna).</td>
                </tr>
                <tr>
                <td>nombre</td>
                <td>Nombre del sector (región, provincia o comuna).</td>
                </tr>
                <tr>
                <td>lat</td>
                <td>Latitud del sector.</td>
                </tr>
                <tr>
                <td>long</td>
                <td>Longitud del sector.</td>
                </tr>
                <tr>
                <td>url</td>
                <td>Url del sitio web del sector. (Municipalidad, etc.)</td>
                </tr>
                <tr>
                <td>codigo_padre</td>
                <td>Código del sector padre (por ejemplo, el código de la región para una provincia).</td>
                </tr>
            </tbody>
        </table>
      </section>
      <ul>
        <li><a href="/api/regiones">/regiones</a></li>
        <li><a href="/api/provincias">/provincias</a></li>
      <li><a href="/api/comunas">/comunas</a></li>
    </ul>
  </body>
</html>
